{{yield}}
<div>
  <h3>{{story.title}}</h3>
  <img src={{story.image}}>
  <h5>{{story.author}}</h5>
  <p>{{story.content}}</p>
  <button {{action 'delete' story}}>Delete</button>
  {{story-update story=story update="update"}}
</div>
