{{yield}}
{{#if updateStoryForm}}
  <h4>Update {{story.author}}'s {{story.title}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=story.author}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=story.title}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content" placeholder=story.content}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{input value=image id="image" placeholder=story.image}}
      </div>
      <button {{action 'update' story}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateStoryForm'}}>Update</button>
{{/if}}
