{{outlet}}

<h2>Bustle Main Page</h2>

<ul>
  {{#each model as |story|}}
   <h3>{{story.title}}</h3>
    <li>{{#link-to 'story' story.id}} <br> <img src={{story.image}}>{{/link-to}}<br> By {{story.author}}<br></li>
  {{/each}}
</ul>
{{new-story saveStory2="saveStory3"}}

{{infinity-loader infinityModel=model}}
